@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3><a href="http://scottvaughan.com" target="_blank">@ViewBag.Message</a></h3>

<address>
    6191 NW 31 st Way<br />
    Fort Lauderdale, FL 33309<br />
    <abbr title="Phone">P:</abbr>
    954.236.8188
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:vaughans@scottvaughan.com">vaughans@scottvaughan.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:vaughans@scottvaughan.com">vaughans@scottvaughan.com</a>
</address>